* {
  font-family: sans-serif;
}

body {
  background: linear-gradient( rgb(197, 152, 152), rgb(246, 127, 127));
  background-attachment: fixed;
}

.title,
.p {
  text-align: center;
}

.menu {
  padding: 50px;
  text-align: justify;
  background-color: rgb(232, 141, 141);
}